#pagina-evenementen #welkom-wrapper {
	background-image: url('../images/achtergronden/groepsreservering.jpg');
  background-position: 0% -200px;
}


@media screen and (max-width: 1200px) {

  #pagina-evenementen #welkom-wrapper {
    background-position: center;
  }

}





#pagina-evenementen .menu-grid article {
  height: 40vh;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Begin met transparant */
    display: none;
    justify-content: center;
    align-items: center; /* Houd de overlay-content in het midden */
    z-index: 1000;
    transition: background-color 0.5s ease; /* Achtergrond animatie */
  }
  
  .overlay-content {
    background: radial-gradient(circle, var(--wit), var(--beige));
    padding: 2em;
    border-radius: 15px;
    width: 90vw;
    min-height: 40vh;
    max-width: calc(1600px - 8em);
    text-align: center;
    position: relative;
    transform: translateY(50px); /* Startpositie iets naar beneden */
    transition: transform 0.3s ease-out; /* Snellere opening */
    opacity: 0; /* Begin als onzichtbaar */
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    text-align: left;
    overflow: auto; /* Zorgt ervoor dat de inhoud scrollbaar is */
    max-height: 80vh; /* Max hoogte om te voorkomen dat het scherm wordt overspoeld */
}

  
  .overlay-content.show {
    transform: translateY(0); /* Breng het naar de normale positie */
    opacity: 1; /* Maak zichtbaar */
  }
  
  .close-btn {
    position: absolute;
    top: 1.75em;
    right: 1.5em;
    font-size: 24px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    transition: transform 0.5s ease, color 0.5s ease;
  }

  .close-btn:hover {
    transform: rotate(135deg);
  }

  .close-btn:hover path {
    stroke: var(--rood);
  }

  
  .overlay-title {
    display: flex;
    justify-content: space-between;

  }

.hyphen::after {
    content: '-'; /* Voeg een streepje toe waar woorden gebroken worden */
}


  .overlay-title h3 {
    font-size: 40px;
    margin: 0;
    max-width: 55vw;
  }
  

  #overlay-capacity {
    margin-bottom: 2em;
  }

  #overlay-description {
    margin-bottom: 3em;
    max-width: 800px;
  }

  .overlay-buttons {
    margin-right: 3em;
  }
  .overlay-buttons a:first-of-type {
    margin-right: 1em;
  }

  #overlay-fotos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 1em;
    width: 100%;
  }

  @keyframes flyIn {
    0% {
      transform: translateY(25%); /* Start buiten beeld aan de rechterkant */
      opacity: 0;
    }
    100% {
      transform: translateY(0); /* Eindig op de normale positie */
      opacity: 1;
    }
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: scale 0.5s ease, box-shadow 0.5s ease;
    opacity: 0; /* Begin met een transparante afbeelding */
    transform: translateY(100%); /* Start buiten beeld */
    animation: flyIn 0.5s ease forwards; /* Pas de animatie toe */
  }

    
  .carousel-image:hover {
    scale: 1.01;
    box-shadow: 0 2px 10px var(--groen);
  }

  @media screen and (max-width: 1000px) {

      .overlay-title {
        flex-direction: column;
        margin-bottom: 3em;
      }

      #overlay-capacity {
        margin-bottom: 1em;
      }

      .overlay-buttons {
        display: flex;
        gap: 1em;
      }

      .overlay-buttons .button-groen {
        padding: 10px 30px;
      }

      .overlay-buttons a:first-of-type {
        margin-right: 0;
      }


}

  @media screen and (max-width: 450px) {

    #overlay-fotos {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      }

}

#event-roller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
}

#event-roller p {
    max-width: 800px;
}

.sentence {
    display: inline-block;
    white-space: nowrap;
}

.word-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
    height: 1.75em;
    transition: width 0.5s ease-in-out; /* Smooth transition for width */
}

.word {
    display: inline-block;
    color: #718355;
    background-color: rgba(15, 159, 44, 0.1); /* Light background color */
    border-radius: 50px;
    padding: 0.25em 0.5em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: slideUp 2s infinite;
    white-space: nowrap;
    transition: width 0.5s ease-in-out;
}

@keyframes slideUp {
    0% {
        transform: translate(-50%, 100%);
        opacity: 0;
    }
    25% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
    75% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -100%);
        opacity: 0;
    }
}

@media screen and (max-width: 550px) {
    .break1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    h2 {
        font-size: 25px;
    }
}

#pagina-evenementen .menu-grid.contactgrid article,
#pagina-faq .menu-grid.contactgrid article {
  height: 15vh;
  border: solid var(--goud) 2px;
}

.menu-grid.contactgrid article h3,
.menu-grid.contactgrid article p {
  color: var(--groen);
}


.menu-grid.contactgrid article::before {
  background: transparent;
}


.menu-grid.contactgrid a:nth-of-type(1) article,
.menu-grid.contactgrid a:nth-of-type(2) article,
.menu-grid.contactgrid a:nth-of-type(3) article {
  background-image: none;
  ;
}

.menu-grid.contactgrid article:hover p {
  color: var(--goud);
  scale: 1.1;
}
